<% form_tag session_path, :id => 'signin' do %>
  <%= notice %>
  <%= link_to(image_tag('logo.png', :alt => 'TracKnowledge'), '/', :id => 'logo') %>

  <fieldset id="signin-form">
    <label for="email">OpenID:</label>
    <%= text_field_tag :openid_url %>
  </fieldset>

  <p><%= image_button "signin.png", :alt => "Sign in", :accesskey => "s" %></p>

<% end %>
