<% form_tag session_path, :id => 'signin' do %>
  <%= notice %>

  <fieldset id="signin-form">
    <label for="email">OpenID:</label>
    <%= text_field_tag :openid_url %>
	  <%= submit_tag "signin" %>
  </fieldset>


<% end %>
