<%
  title = string(picture.title)
  thumb = string(picture.url(:thumbnail))
  page = string(picture.url(:photopage))
 %>
<li style="display: inline; float: right; width: 140px">
<%= img = image_tag(thumb, :style => 'padding: 5px 5px; width: 100px;', :title => title)
    link_to(img, page, :target => '_new') %>
<p style="font-size: 0.7em;"><%= title %></p>
</li>

