body {
	font-size: 1.2em;
	font-family: Helvetica, Sans-Serif;
	background-color: #909090;
}

img {
	border: none;
}

#footer {
	font-size: 0.8em;
	padding-top: 30px;
}

th {
	text-align: right;
}

.flash {
	border: 1px black solid;
	color: #FFF;
	padding: 10px;
}

#error {
	background-color: #A00;
}

#notice {
	background-color: #0A0;
}

.info_bubble {
	border: 1px thin solid;
	padding: 10px;
	-moz-border-radius: 10px;	
}

#home_track {
	background-color: #fec
}

#contribute {
	background-color: #def	
}