body {
	font-size: 1.2em;
	font-family: Helvetica, Sans-Serif;
	background-color: #dddddd;
}

h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

img {
	border: none;
}

#footer {
	font-size: 0.8em;
	padding-top: 30px;
}

th {
	text-align: right;
}

.flash {
	border: 1px black solid;
	padding: 10px;
	-moz-border-radius: 10px;	
}

#error {
	background-color: #A00;
}

#notice {
	background-color: #8A8;
}

.info_bubble {
	border: 1px thin solid;
	padding: 10px;
	-moz-border-radius: 10px;	
}

#home_track {
	background-color: #fec
}

#contribute {
	background-color: #def	
}

#leftmenu li {
	text-align: right;
}