/*
 Colors:
	#131517
	#60616B
	#CFCBBC
	#EFFDFF
	#838EA9
	*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}

:focus {outline: 0;} /* TODO: define focus styles */

ins {text-decoration: none;} /* TODO: highlight inserts */
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border: 1px solid #cccdcd; border-left: 0; border-bottom: 0; border-collapse: collapse; border-spacing: 0;}
/* @end */

/* @group Defaults */
body {font-family: Verdana, Arial, sans-serif; font-size: 12px; padding: 10px;}
h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, dl, dt, dd, blockquote, pre, code, div, table, tr, th, td, tbody, tfoot, fieldset, legend, input, textarea, select, button {line-height: 18px;}

h1, h2, h3, h4, h5, h6, dt, legend {background: transparent; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
h1 {font-size: 18px;}
h2 {border-bottom: 1px solid #666; clear: both; font-weight: normal; padding: 3px 18px;}
h2 span {font-weight: bold;}
h4 {font-size: 12px; letter-spacing: 1px; padding: 3px 18px;}
h4 span {font-weight: normal; text-transform: uppercase; font-size: 11px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

samp {color: #545454;}
cite {font-size: 11px; font-style: normal; font-weight: bold;}
blockquote, .note {font-family: Georgia, "Times Roman", "Times New Roman", serif;}
blockquote {font-style: italic;}

p, ul, ol, dl, blockquote, pre, table {margin-bottom: 18px;}

dt {font-size: 11px; font-weight: bold; letter-spacing: 1px; margin-bottom: 9px; position: relative; text-transform: uppercase;}
dt a {position: absolute; top: 4px; right: 0;}

a {border: 0; outline: none;}
a:link, a:visited {color: #001999; text-decoration: underline;}
a:hover {color: #001999; text-decoration: none;}
a:active {color: #343434; text-decoration: none;}

table {width: 100%; empty-cells: show; margin-bottom: 18px;}
th, td {padding: 4px 9px; vertical-align: middle;}
img {background: transparent; border: 0;}

label, .bold {color: #535353; line-height: 18px;}
input, select, textarea {line-height: 18px; margin: 0; margin-bottom: 18px;background-color:#CFCBBC; margin-right: 5px;}
input, textarea {border: 1px solid #999; }
button {background: none; cursor: pointer; margin-right: 9px; overflow: visible; vertical-align: middle; width: auto;}
table select, table input, table textarea {margin: 3px 0;}
/* @end */

body {
	font-size: 1.1em;
	font-family: Helvetica, Sans-Serif;
	background-color: #EFFDFF;
}

h1, h2, h3, h4 {
	color: #CFCBBC;
	background-color: #232527;
	margin: 0;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	padding: 10px 10px;
	margin-bottom: 10px;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

img {
	border: none;
}

/*table {
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse:collapse;
}
*/
td {
  border-bottom:1px solid #cccdcd;
  border-left:1px solid #cccdcd;
}

th {
	background-color: #60616B;
	color: #CFCBBC;
}

tr.odd td {
  background:#CFCBBC
}

#footer {
	clear: both;
	font-size: 0.8em;
	margin-top: 30px;
}

#header {
	margin-bottom: 20px;
}

#content {
	margin-top: 20px;
}

.flash {
	border: black 1px solid;
	padding: 10px;
	-moz-border-radius: 10px;	
}

#error {
	background-color: #A00;
}

#notice {
	background-color: #8B8;
}

#text {
	float: right;
}
#home_graphic {
	float: left;
}
#home_tracks {
	margin-bottom: 20px;
}

#leftmenu li {
	text-align: right;
}

#banner {
	font-size: 200%;
	font-family: georgia, verdana;
	letter-spacing: 5px;
}
#banner a {
	color: #270000;
	text-decoration: none;
}
#banner a:hover {
	text-decoration: underline;
}