<div id="footer">
	<%= link_to 'Privacy, Copyright and Legal Notices', legal_home_url %> |	<%= link_to 'Contact Us', 'mailto:info@tracknowledge.org' %>	
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2569989-3");
pageTracker._initData();
pageTracker._trackPageview();
</script>