<div id="latest_tracks" style="float: right; width: 50%;">
	<h2>Latest Tracks</h2>
	<table>
		<tr><th>Name</th><th>Location</th><th>Submitted By</th></tr>
		<% @latest.each_with_index do |track, index| %>
		<tr <%= row_style(index) %>><td><%= link_to track.name, track_path(track) %></td><td><%= location_of track %></td><td><%= track.added_by %></td></tr>
		<% end %>
	</table>
</div>