<div id="top_submitters" class="info_bubble">
	<h2>Top 5 Submitters</h2>
	<p>
		Thanks to all members who have contributed track data!
	</p>
	<table>
		<tr><th>Name</th><th>#</th></tr>
		<% @submitters.each_with_index do |(name, count), index| %>
		<tr <%= row_style(index) %>><td><%= h name %></td><td><%= count %></td></tr>
		<% end %>
	</table>
</div>