<h1>About Us</h1>
<p>TracKnowledge.org is run by two brothers who love horsepower and race tracks.</p>

<div>
	<h2>Mike</h2>
	<img src='/images/mike.jpg' width='360' height='240' style="float: right; margin-bottom: 20px;"/>
	<p>
		Mike is the technical guy who built the site and oversees the day to day operations.
		He loves Formula One, MotoGP and World Superbike racing.  When he's not watching races, he's
		racing his Triumph Daytona 675 motorcycle at track days around central Texas.
	</p>
	<p>
		You can contact Mike at <a href="mailto:mike&#64tracknowledge.org">mike&#64tracknowledge.org</a>.
	</p>
</div>
<div style="clear: both;">
	<h2>Bob</h2>
	<img src='/images/bob.jpg' width='320' height='256' style="float: left; margin-right: 10px;"/>
	<p>
		Bob is the track researcher who gathers much of the track data available on the site.
		He loves drag racing, Cart/IRL and NASCAR.  He's the sad ex-owner of a 1968 Chevelle
		muscle car and is a frequent visitor to races near his home in Southern California.
	</p>
	<p>
		You can contact Bob at <a href="mailto:bob&#64tracknowledge.org">bob&#64tracknowledge.org</a>.
	</p>
</div>