<p>
Welcome to TracKnowledge, your source for all things race track related!
</p>

<div id="home_track" class="info_bubble">
	<%= render :partial => 'tracks/track', :locals => { :track => @closest } %>
	<p>
	Based on your current location, this is the closest track we have information about.  Is there a closer track to you?  <%= link_to 'Submit a Track', new_track_path %>
	</p>
</div>
<div id="contribute" class="info_bubble">
	Help us out!  You can contribute a number of ways:
	<ul>
		<li>Join the discussion in our forums.  Come tell us about your favorite tracks!</li>
		<li><%= link_to 'Add a track to our database', new_track_path %>.  It takes just 10 minutes and a few web searches to gather enough information for our database.</li>
		<li>Click an ad, buy a book or contribute directly to our Paypal account to help defray the costs of running this community site.</li>
	</ul>
</div>