<h1>The Legal Stuff</h1>
<p>
	This website is run by racing enthusiasts with a love for motorsports.
	We are not spammers, identity thieves or knavish rapscallions of any sort.
	We are also not lawyers so we try to keep our principles simple and user-friendly.
</p>

<h2>Privacy</h2>
<ul>
	<li>Any personally-identifiable data (like your name or email address) will
		never be shared with others for any reason.</li>
	<li>Aggregate data (like your zipcode, country or language) will be shared to 
		make advertising more relevant and to personalize your usage of this site.</li>
</ul>
<p>
	We believe this policy is the best compromise between individual privacy and 
	site usability.  We hope you agree!
</p>

<h2>Copyright</h2>
<p>
	All data collected on this site is copyright (C) 2008 Mike Perham and may not be
	used commercially without permission.
</p>