<h3>Store</h3>
<ul>
	<% ProductsHelper::CATEGORY_NAME_TO_KEY.keys.sort.each do |name| %>
		<li><%= link_to name, { :category => ProductsHelper::CATEGORY_NAME_TO_KEY[name] } %></li>
	<% end %>
</ul>
<%# amazon search widget %>
<iframe src="http://rcm.amazon.com/e/cm?t=tracknowledge-20&o=1&p=27&l=qs1&f=ifr" width="180" height="150" frameborder="0" scrolling="no"></iframe>
