<h3>Store</h3>
<ul>
	<li><%= link_to 'Tracks', { :category => 'tracks' } %></li>
	<li><%= link_to 'Formula One', { :category => 'formula_one' } %></li>
	<li><%= link_to 'NASCAR', { :category => 'nascar' } %></li>
	<li><%= link_to 'MotoGP', { :category => 'motogp' } %></li>
</ul>	