<% category = params[:category] || 'tracks' %>
<div id="store">
	<div style="float: left;" id="leftmenu">
		<%= render :partial => 'leftmenu' %>
	</div>
	<div>
		<h2><%= category.titleize %></h2>
		<div>
			<table>
			<% product_listing_for category do |row| %>
				<tr>
					<% row.each do |item| %>
						<td><%= item %></td>
					<% end %>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
</div>
<br style="clear: both;" />
<p>
	Tracknowledge is a free website run by and for motorsport fans.  Everything you buy here 
	helps pay for the website server and hosting.
</p>
