<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
   <title>TracKnowledge - <%= area %></title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'application' %>
	</head>
	<body>
		<div>
			<% if @user -%>
				Hello, <%= @user.fullname %> (<%= link_to 'Logout', logout_session_path %>)
			<% end -%>
			<%= link_to "Login", session_path unless @user %>
		</div>
		<%= yield %>
	</body>
</html>
